* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 50px auto;
}

.left-section {
  width: 60%;
}

.right-section {
  width: 40%;
}

.right-section h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.right-section p {
  margin-bottom: 20px;
}

.btn {
  background-color: #009933; /* 设置背景颜色 */
  border: none; /* 去掉默认边框 */
  color: white; /* 文字颜色设为白色 */
  padding: 10px 20px; /* 内边距，可根据实际调整按钮大小 */
  text-align: center; /* 文字水平居中 */
  text-decoration: none; /* 去掉文字下划线 */
  display: inline-block; /* 行内块元素，可设置宽高且不独占一行 */
  font-size: 16px; /* 字体大小 */
  border-radius: 5px; /* 圆角，让按钮边缘呈圆角 */
}

.impg img {
  width: 300px;
  height:600px;
}
img {
  margin-left: -80px; /* 这里的 -10px 表示向左移动10像素，可根据实际需求调整数值 */
}
